body {
  padding-top: 66px;
  padding-bottom: 50px;
}
nav.navbar {
  border-radius: 0;
}
.title {
  text-align: center;
}
.center {
  text-align: center;
}
.separate {
  height: 66px;
  min-height: 66px;
}















